#map {
  height: 600px;
  margin-top: 10px;
  width: 100%;
}

#legend {
  background: white;
  padding: 10px;
  position: absolute;
  bottom: 30px;
  left: 10px;
  z-index: 1000;
  border: 1px solid #ccc;
}
